.expanded {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: lighter(@theme_bg_color);
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(213, 208, 204);
  margin-left: 12px;
  margin-right: 12px;
}

.shrinked {
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: lighter(@theme_bg_color);
  border-radius: 0px;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
  border-color: rgb(213, 208, 204);
}
